.Content h2 {
    text-transform: uppercase;
}

.Content {
    width: 100%;
}

.Event {
    background-color: #643e36bb;
    border: 1px solid #3e2622;
    border-radius: 2px;
    margin-bottom: 16px;
    margin-top: 16px;
    text-align: center;
}

.Event figure,
h5 {
    margin: 0 0;
}

.TextContent {
    color: #FFFDD0;
}