.App{
    font-family: "Roboto Condensed", sans-serif;
    background-color: #FFFDD0;
    min-height: 100vh;
}

.TitlePages {
    padding-top: 80px;
}

.Content {
    background-color: #D9CEAA;
    padding: 15px;
    border-radius: 2px;
    border: 2px solid #3e2622;
}

.FillerImage {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.Image {
    max-height: 50vh;
    max-width: 100%;
    object-fit: contain;
}

* {
    box-sizing: border-box;
}

a {
    color: #FFFDD0;
    transition: color ease-in-out 0.5s;
}

a:hover {
    color: #b29e83;
    text-decoration: none;
}

a:hover i {
    color:#b29e83;
    transition: color ease-in-out 0.5s;
}

i {
    color: #FFFDD0;
    font-size: 1.5rem;
    padding: 5px;
    vertical-align: middle;
}

i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.5s;
    color: #b29e83;
}

figure {
    text-align: center;
    display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar-track {
    width: 5px;
}
*::-webkit-scrollbar-track {
    background: #3e2622;
}
*::-webkit-scrollbar-thumb {
    background: #402d2d;
}
*::-webkit-scrollbar-thumb:hover{
    background: #4f3838;
}
