.App{
    font-family: "Roboto Condensed", sans-serif;
    background-color: #FFFDD0;
    min-height: 100vh;
}

.TitlePages {
    padding-top: 80px;
}

.Content {
    background-color: #D9CEAA;
    padding: 15px;
    border-radius: 2px;
    border: 2px solid #3e2622;
}

* {
    box-sizing: border-box;
}

a {
    color: #FFFDD0;
    transition: color ease-in-out 0.5s;
}

a:hover {
    color: #b29e83;
    text-decoration: none;
}

a:hover i {
    color:#b29e83;
    transition: color ease-in-out 0.5s;
}

i {
    color: #FFFDD0;
    font-size: 1.5rem;
    padding: 5px;
    vertical-align: middle;
}

i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.5s;
    color: #b29e83;
}